{% extends "template.html" %}
{% block conteudo %}
    <div class="container" style="color:white">
        <h1 style="color:white">Insira o arquivo</h1>
            <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
            <input type="file" />

        </div>
<!--    <h3 style="text-align:center;color:white">Para buscar mais candidados de um vez, clique abaixo</h3>-->
<!--    <form style="color:white">-->
<!--        <p><label>Deseja inserir mais nomes?</label> <input class="form-control" type="text" name="usuario" required></p>-->
<!--        <p><button class="btn btn-primary" type="submit">Mais nomes</button></p>-->
<!--    </form>-->

<!--    <h1 style="color:white">Foi</h1>-->
<!--        <a href="C:\Users\Diogo\PycharmProjects\pythonProject\projetos_extras\linkdin_gordinho\biblioteca linkedin_gringa\Entrada_dados.xlsx" download="Entrada_dados.xlsx"-->
<!--    type="application/vnd.ms-excel">Clique aqui</a>-->
<!--        <p><button class="btn btn-primary" type="submit">Logout</button></p>-->

{% endblock %}
